.chats-main-container {
  background-color: #f0f0f0;
}

.chats-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}

.chats-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: box-shadow 0.3s;
  width: 95%;
}

.chat-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.chat-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-last-message {
  color: #777;
}