/* Уникальные стили для кнопки */
.unique-button {
  font-family: inherit;
  font-size: 20px;
  background: rgba(79, 156, 232, 0.7019607843);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.unique-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.unique-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.unique-button:hover .unique-svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.unique-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.unique-button:hover span {
  transform: translateX(5em);
}

.unique-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
